{% extends 'AhoraMadridDonacionesBundle::layout.html.twig' %}

{% block body %}
	<h2>Error. No se ha encontrado el recibo {{identificador}}</h2>
	<div>Por favor, repite el proceso o ponte en contacto con donaciones@ahoramadrid.org  indicando el número de contrato</div>
{% endblock %}