h1 {
  font-family: 'Ubuntu', sans-serif;
  /* Microcréditos: */
  font-size: 95px;
  color: #FFFFFF;
  line-height: 110px;
  text-align: center;
}
body,
html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: 'open sans', 'helvetica', arial;
}
.main-container {
  height: auto;
}
p.ubuntu {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
}
div#page1 {
  background: #00A48C;
  min-height: 100%;
  height: auto;
  min-height: 100vh;
}
#page1 a.btn,
#agradecimientos a.btn {
  /* ¡Fináncianos!: */
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  color: #00A48C;
  line-height: 37px;
  transition: all 0.5s;
  /* Rectangle 28: */
  background: #FFFFFF;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-decoration: none;
}
#page1 a.btn:hover,
#agradecimientos a.btn:hover {
  box-shadow: none;
  color: #D95B43;
  background: #FFFFFF;
}
#page1 a,
#agradecimientos a {
  /* ¿Quieres saber más s: */
  font-family: 'open sans', 'helvetica', arial;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  text-decoration: underline;
}
.row div::before {
  margin-top: 5%;
}
span.ahora {
  color: #00A48C;
  font-weight: bold;
}
p.ultimopaso {
  font-size: 1.2em;
  text-align: left;
}
p.ultimopaso .titulo {
  color: #333;
}
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#page-faq {
  text-align: center;
  background: #fff;
  min-height: 100%;
  height: auto;
}
#page-faq h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #4A4A4A;
  line-height: 28px;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 1em;
}
#page-faq p {
  /* Según todas las encu: */
  opacity: 0.9;
  font-family: 'open sans', 'helvetica', arial;
  font-size: 18px;
  color: #4A4A4A;
  line-height: 24px;
}
#page-faq a.btn {
  /* ¡Fináncianos!: */
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  color: #fff;
  line-height: 37px;
  transition: all 0.5s;
  /* Rectangle 28: */
  background: #00A48C;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-decoration: none;
}
#page-faq a.btn:hover {
  box-shadow: none;
}
#footer {
  pading-top: 5em;
  background-color: #00A48C;
  border-top: 1px solid #03705E;
}
#footer .container {
  padding-top: 2em;
  padding-bottom: 2em;
}
#footer a {
  /* ¿Quieres saber más s: */
  font-family: 'open sans', 'helvetica', arial;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  text-decoration: underline;
}
#footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#formularios h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #4A4A4A;
  line-height: 28px;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 1em;
}
#formularios div.radio {
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  border: 1px #00A48C solid;
  padding: 1em 1.4em 1em 1.4em;
  margin: 1% 3%;
}
#formularios div.radio label {
  width: 75px;
  padding-left: 0px;
}
#formularios div.radio:selected {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#formularios div#ahoramadrid_microcreditosbundle_credito_importe {
  border: 0px;
  height: auto;
  box-shadow: none;
}
#formularios label {
  /* Nombre: */
  font-family: 'open sans', 'helvetica', arial;
  font-size: 16px;
  font-weight: bold;
  color: #4A4A4A;
  line-height: 22px;
}
#formularios #legal {
  padding: 2em;
  border: 1px #333 solid;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#formularios .active {
  background-color: #00A48C ;
}
#formularios .active label {
  color: #fff;
}
#formularios input[type=radio] {
  display: none;
}
#formularios #ahoramadrid_microcreditosbundle_credito_Enviar {
  /* Rectangle 28 Copy 12: */
  background: #00A48C;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 0px;
  /* confirmar préstamo: */
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 28px;
  display: none;
}
#formularios #ahoramadrid_microcreditosbundle_credito_Enviar:hover {
  box-shadow: none;
  background-color: #00D6B2;
  transition: all 0.5s;
}
