{% extends 'MadridEnPieAdminBaseBundle::layout_admin.html.twig' %}

{% block body %}
<div class="container">
	<h2>
		Administración de Madrid en Pie
	</h2>
	<div class="col-md-8">
		<table id="listadoCampanias" class="table table-striped ">
	        <tr>
	            <th>Funcionalidad</th>
	            <th>Enlace</th>
	        </tr>
	        <tr>
	        	<td>Donaciones</td>
	        	<td><a href="{{ path('listar_donaciones') }}">Administrar</a></td>

	        </tr>
	    </table>
	</div>
</div>
{% endblock %}