{% extends 'MadridEnPieAdminBaseBundle::layout_admin.html.twig' %}

{% block body %}
<div class="container">

	<h2>
		No tienes acceso a esta p치gina, o tu sesi칩n ha caducado. 
		Dale hacia atr치s en el navegador o vuelve a la p치gina de <a href="{{ path('login') }}">login</a>
	</h2>
	</div>
{% endblock %}