{% extends 'AhoraMadridMicrocreditosBundle::layout.html.twig' %}

{% block body %}
	<h2>Error. No se ha encontrado el contrato {{identificador}}</h2>
	<div>Por favor, repite el proceso o ponte en contacto con contratos@ahoramadrid.org  indicando el número de contrato</div>
{% endblock %}