{% extends 'AhoraMadridMicrocreditosBundle::layout.html.twig' %}

{% block body %}

 <div class="main-container">       
 			<div id="page1">
                <div class="container">
                    <div class="row" style="margin-top: 4% " >                       
                        <div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
                        	<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/ahoraMadrid_logo_blanco.png') }}" class="img-responsive" >
                        </div>
                    </div>

                    <div class="row" style="margin-top: 4%" > 
						<div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"> 
                        		Ahora mismo tenemos cerrada la campaña de microcréditos. Muchas gracias por querer colaborar con Ahora Madrid.
                        	</p>
                        	<br/><br/><br/>
                        	<p class="ubuntu"> 
                        		Con tu ayuda y la de muchas otras personas trabajaremos duro por hacer llegar a toda la ciudad la ilusión por el cambio
                        	</p>
                        </div>
                    </div>
                </div>
             </div>  

    </div>
    <div id="fb-root"></div>
{% endblock %}